@{
    ViewBag.Title = "added";
}

<div id="page">
		
		<div id="body">
			<div class="header">
                
				<div>
                    <h1>ADDED</h1>
      <p style="font-size:large ; color : mediumpurple">"Quiz Added Successfully."</p>
                      <a href="~/Admin/AdminPanel" class="more">BACK TO Panel</a>
                    </div>
                </div>
            </div>
    </div>