@{
    ViewBag.Title = "AdminPanel";
}

<div id="body">
			<div class="header">
				<div>
					<h1>ADMIN PANEL</h1>
					<div class="article">
						<ul>
							<li>
								<a href=""><img src="~/images/add.jpg" alt=""></a>
								
								<p>Add new quiz from here.</p>
								<a href="~/Admin/AddGame" class="more">ADD QUIZ</a>
							</li>
							<li>
								<a href=""><img src="~/images/delete.jpg" alt=""></a>
								
								<p>Remove any previous stored quiz from here.</p>
								<a href="~/Admin/Delete" class="more">DELETE QUIZ</a>
							</li>
						</ul>
					</div>
					
				</div>
			</div>
		</div>
