@{
    ViewBag.Title = "about";
}

<div id="body" class="about">
			<div class="header">
				<div>
					<h1>ABOUT</h1>
					
				</div>
			</div>
			<div class="body">
				<div>
					<img src="~/images/images.jpg" alt="">
					<h2>We Have Games for Everyone</h2>
					<p>This Website has been created as Term Project with coordination of Mam Nayelah Saad. Our aim is to develop your abilities with fun. Play with us and you will probably enjoy our games.</p>

				</div>
			</div>
   
    <div class="footer">
				<div>
					<ul>
						<li>
							<h1>CONTACT US</h1>
							<img src="~/images/contactus.jpg" alt="">
						</li>
						<li>
							<h1>WAY TO GO</h1>
							<ul>
								<li>
									<a href=""><img src="~/images/SIGNUP.jpg" alt=""></a>
									<h1>SIGN UP HERE</h1>
									<span>JUST ONE THIBG TO GO ON AHEAD</span>
									<a href="~/Home/signup" class="more">SIGN UP</a>
								</li>
								<li>
									<a href="#"><img src="~/images/fun.png" alt=""></a>
									<h1>HVE FUN WITH US</h1>
									<span>^_^</span>
									
									
								</li>
							</ul>
						</li>
					</ul>
				</div>

</div>
     </div>