@{
    ViewBag.Title = "Check";
}

<div id="page">
		
		<div id="body">
			<div class="header">
                
				<div>
                    <h1>LOGIN ERROR</h1>
      <p style="font-size:large ; color : mediumpurple">"DATA ENTERED DOESN'T MATCH WITH STORED DATA."</p>
                      <a href="~/Home/login" class="more">BACK TO LOGIN</a>
                    </div>
                </div>
            </div>
    </div>