@{
    ViewBag.Title = "index";
}

<html>
<body>
	<div id="page">
		
		<div id="body" class="home">
			<div class="header">
				<div>
					
					<h1>QUIZLEY</h1>
					
					
					<h3>PLAY HERE</h3>
					<ul>
						<li>
							<a href=""><img src="images/psychology.jpg" alt=""></a>
						</li>
						<li>
							<a href=""><img src="images/personality.jpg" alt=""></a>
						</li>
						<li>
							<a href=""><img src="images/iq.jpg" alt=""></a>
						</li>
						<li>
							<a href=""><img src="images/project-image4.jpg" alt=""></a>
						</li>
					</ul>
				</div>
			</div>
			<div class="body">
				<div>
					<h1>OUR AIM</h1>
					<p>You have entered the land of quizez. Play Interesting IQ, Personality and Psychology games.Our aim is to develop your abilities with fun. Play with us and you will probably enjoy our games.</p>
				</div>
			</div>
			<div class="footer">
				<div>
					<ul>
						<li>
							<h1>CONTACT US</h1>
							<img src="~/images/contactus.jpg" alt="">
						</li>
						<li>
							<h1>WAY TO GO</h1>
							<ul>
								<li>
									<a href=""><img src="~/images/SIGNUP.jpg" alt=""></a>
									<h1>SIGN UP HERE</h1>
									<span>JUST ONE THIBG TO GO ON AHEAD</span>
									<a href="~/Home/signup" class="more">SIGN UP</a>
								</li>
								<li>
									<a href="#"><img src="~/images/fun.png" alt=""></a>
									<h1>HVE FUN WITH US</h1>
									<span>^_^</span>
									
									
								</li>
							</ul>
						</li>
					</ul>
				</div>

</div>
		</div>

		
	</div>
</body>
</html>
