@model Quizely.Models.User
@{
    ViewBag.Title = "login";
}

<div id="body" class ="login">
			<div class="header">
				<div class="contact">
                <h1>LOGIN</h1>
                    @using (Html.BeginForm("Check" , "Home" ,FormMethod.Post))
              {
        
        <fieldset>
        <div class="form">
            <h5>UserName</h5>
            @Html.TextBoxFor(model => model.UserName, new { type = "text", @placeholder = "USER NAME", @class = "form-control" , color ="black" , @required = "required" , @id = "name" })
            <h5>Password</h5>
            @Html.TextBoxFor(model => model.Password, new { type = "password", @placeholder = "PASSWORD", @class = "form-control", @required = "required", @pattern = ".{6,}" ,color ="black"})
            
           
                    <input type="submit" value="LOGIN" id="submit" />
                    
              <a href="~/Home/FPASS" class="more">forgot password</a>

      <div class="clear"></div>
            </div>
    </fieldset>
                    
            }
                    
						
					
				</div>
			</div>
</div>