@{
    ViewBag.Title = "RCheck";
}

<h2>RCheck</h2>
<div id="page">
		
		<div id="body">
			<div class="header">
                
				<div>
                    <h1>RESET PASSWORD ERROR</h1>
      <p style="font-size:large ; color : mediumpurple">"DATA ENTERED DOESN'T MATCH WITH STORED DATA."</p>
                      <a href="~/Home/FPASS" class="more">BACK TO RESET</a>
                    </div>
                </div>
            </div>
    </div>